@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
p,
span,
li,
div,
b,
i,
.body-font {
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
.heading-font {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
}

.text-shadow {
  text-shadow: 1px 1px 1px #000;
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(62, 204, 240);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.underline-on-hover:hover::after {
  transform: scaleX(1);
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
}

@keyframes ldio-0k82hkrsbtnn {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ldio-0k82hkrsbtnn div {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #e4812f;
  left: 74px;
  top: 20px;
  animation: ldio-0k82hkrsbtnn 0.9900990099009901s linear infinite;
}
.loadingio-spinner-ball-0d5bnrmkcmv9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-0k82hkrsbtnn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-0k82hkrsbtnn div {
  box-sizing: content-box;
}
